@model InvitationDto

@{
    ViewBag.Title = Model.Id == Guid.Empty ? "Create Invitation" : "Edit Invitation";
}

<div class="container">
    <h1>  @(Model.Id == Guid.Empty ? "Create" : "Edit") Invitation</h1>

    <form asp-action="@(Model.Id == Guid.Empty ? "Create" : "Edit")"
          asp-route-id="@(Model.Id == Guid.Empty ? "" : Model.Id)"
          asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
          method="post"
          enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @* Guest Email *@
        <div class="form-floating mb-3">
            <input asp-for="GuestEmail" class="form-control" placeholder="" />
            <label asp-for="GuestEmail"></label>
            <span asp-validation-for="GuestEmail" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-evenly">
            <div>
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
            <div class="form-group">
                <input type="submit" value="@(Model.Id == Guid.Empty ? "Create" : "Edit")" class="btn btn-primary" />
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}